{% extends "global.html" %}

{% block content %}
<section id="home" class="container-fluid bg-black position-relative hard-sides">
	<div class="py-3 flush-bottom">
		<div class="hero-image-position full-screen background-top background-cover" style="background-image:url('https://images.unsplash.com/photo-1515310787031-25ac2d68610d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f29c370d248c360a3f34e66f7d486586&auto=format&fit=crop&w=1234&q=100'); opacity: .7;"></div>
		<div class="position-relative pt-4 pb-4 px-2 text-constrained mx-auto text-center text-white">
<!-- 				<img src="/assets/peak-logo.png" alt="" class="mb-3" style="max-width: 450px;">
 -->		<h1 class="display-3">Begin Your Ascent.</h1>
			<p class="lead"><b>PEAK</b> is a training program for new insurance agents designed to help them come sprinting out of the gates.</p>
			<a class="btn btn-primary" href="#" role="button">View Upcoming Events</a>
		</div>
	</div>
</section>

<section id="about" class="container-fluid">
	<div class="p-1 pt-4 pb-2 p-lg-5 text-constrained mx-auto text-center text-tertiary">
		<h2 class="display-4">What is PEAK?</h2>
		<p class="lead"><b>PEAK</b> is an acronym for the core values of our program: Purpose, Effort, Accountability, &amp; Knowledge.</p>
	</div>
	<div class="row px-1 px-md-5 pb-5">
		<div class="col-md-6 col-sm-12 xs-text-center">
			<h3 class="text-warning">Purpose</h3>
			<p class="">Ut anim in enim elit proident ut adipisicing amet aliquip exercitation consequat ex sint consectetur dolor tempor anim veniam.</p>
		</div>
		<div class="col-md-6 col-sm-12 xs-text-center">
			<h3 class="text-warning">Effort</h3>
			<p class="">Esse nostrud ad anim qui veniam incididunt commodo nostrud aliqua labore veniam elit mollit labore nostrud in sunt ea.</p>
		</div>
		<div class="col-md-6 col-sm-12 xs-text-center">
			<h3 class="text-warning">Accountability</h3>
			<p class="">Commodo aliquip enim enim mollit amet pariatur elit consectetur proident ut magna pariatur amet laborum proident ut laboris.</p>
		</div>
		<div class="col-md-6 col-sm-12 xs-text-center">
			<h3 class="text-warning">Knowledge</h3>
			<p class="">Eiusmod officia ea in voluptate consequat dolore et magna do dolore incididunt sit aliquip eu aliqua eu.</p>
		</div>
	</div>
</section>

<section class="container-fluid bg-primary">
	<div class="p-1 pt-4 pb-4 p-lg-5">
		<h2 class="display-4 text-center text-white">About Us</h2>
		<br>
		<div class="row justify-content-md-center">
			<div class="col-md-6 col-lg-5 col-xl-4 text-center">
				<div class="card p-1 mb-1 mb-md-0 shadow-sm border-transparent">
					<div class="card-body">
						<img src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" class="rounded-circle mb-1" style="max-width: 140px;" alt="Joseph Bond">
						<h4 class="card-title">Joseph Bond</h4>
						<p class="card-text ">Laboris anim labore excepteur velit occaecat dolor dolore est mollit sit anim sit velit quis dolore aute mollit id voluptate sint mollit pariatur quis.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-5 col-xl-4 text-center">
				<div class="card p-1 shadow-sm border-transparent">
					<div class="card-body">
						<img src="https://s3.amazonaws.com/uifaces/faces/twitter/andyvitale/128.jpg" class="rounded-circle mb-1" style="max-width: 140px;" alt="BJ Jordan">
						<h4 class="card-title">BJ Jordan</h4>
						<p class="card-text ">Lorem ipsum sunt duis commodo laborum ullamco tempor consequat nulla ad ad veniam culpa ea est enim fugiat dolore aliquip do et labore cillum.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="events" class="container-fluid bg-secondary">
	<div class="p-1 pt-4 pb-4 p-lg-5">
		<h2 class="display-4 text-center text-white">Upcoming Events</h2>
		<br>
		<div class="row">
			<div class="col-md-4">
				<div class="card p-1 mb-1 mb-md-0  text-center shadow-sm border-transparent">
					<div class="card-body">
						<h4 class="card-title">Jacksonville, FL</h4>
						<p class="lead">June 20-22, 2018</p>
						<a href="#" class="btn btn-primary">Register Now</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card p-1 mb-1 mb-md-0  text-center shadow-sm border-transparent">
					<div class="card-body">
						<h4 class="card-title">Atlanta, GA</h4>
						<p class="lead">July 25-27, 2018</p>
						<a href="#" class="btn btn-primary">Register Now</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card p-1 text-center shadow-sm border-transparent">
					<div class="card-body">
						<h4 class="card-title">Cleveland, OH</h4>
						<p class="lead">August 22-24, 2018</p>
						<a href="#" class="btn btn-primary">Register Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="contact" class="container-fluid bg-warning">
	<div class="p-5">
		<h2 class="display-4 text-white text-center">Contact Us</h2>
		<br>
	</div>
</section>

{% endblock %}